*{
    margin: 0px;
}
body{
    background-color:#e5eaeb;
}
.header{
    background-image: url(../Assets/Hero-bg.png);
    height: 538px;
}


.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}
.logos{
    display: flex;
    justify-content: space-between;
    padding: 40px 115px;
    align-items: center;
}
.btn-properties{
    background-color: #4E47FF;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 28px;
    border: none;
    border-radius: 8px;
    font-size: 12px;
    height: 37px;
    width: auto;
    transition:all;
}
.btn-properties:hover{
     background-color: yellow;
     color: black;
    
}
.banner-content{
    display:flex;
    justify-content: center;
  align-items: center;     
  flex-direction: column;
 margin: 121px 206px;
 text-align: center;
 
  
}
.title{
    font-size:50px ;
    font-weight: bold;
    margin-bottom: 28px ;

}
.action{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 100px 124px;

}
.action div *{
    margin-bottom: 10px;
}

.action-head{
    font-size: 32px;
    font-weight: bold;

}
.action-paragraph{
    font-size: 20px;
    font-weight: normal;
    color: #252432;
    opacity: 50%;

}
.action-img{
    border-radius: 35px;
    height:253px ;
    width:310px ;

}
.productive{
   background-color: #4E47FF10;
   /* opacity: 30%; */
   padding: 40px 110px;
 border-radius: 18px ;
 text-align: center;
 margin: 0px auto;
 width: 878px;
}
.productive h2{
    font-size: 30px;
    font-weight: bold;
    color:#252432;
    margin-bottom: 20px;
}
.elements{
    display:flex ;
    justify-content: space-around;
}
.user{
    display: flex;
    font-size: 16px;
    font-weight: normal;
    color: black;
   
    flex-direction: column;
}
    
    

.user span{
    font-size: 75px;
    font-weight: bold;
    color: #4E47FF;
}
.rating h2{
    text-align: center;
     margin-top:100px ;
     margin-bottom: 20px;
}
.feedback{
    background-color: #F2EDED;
    border-radius:10px ;
    width: 282px;
    padding: 20px ;

    
}

.feedback *{
    margin-bottom: 10px;
}
.feedback-text h3{
    font-size:16px;
    font-weight:bold;
}
.feedback-text p{
    font-size: 11px;
    font-weight: normal;
}
.reviewer{
    display: flex;
    
    align-items: center;
}
.review-img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;

}
 .review-info{
    font-size: 11px;
    font-weight: bold;
    color: #757575;
 }   
 .review-info span{
    color: #B3B3B3;
 }
 .users-feedback{
    display: flex;
    flex-direction: row;
    width: 1140px;
    margin: 0px auto;
    justify-content: center;
    gap: 40px;
 }
 .touch-section{
    display: flex;
  justify-content: space-around;
    align-items: center;
    margin: 60px;
   
 }
 .section-title{
    font-size: 50px;
    font-weight:bold;
 }
.form{
    width: 350px;
    font-size: 15px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 8px;
}
input,
textarea {
  padding: 12px;
  font-size: 12px;
  border: 1px solid #e2e2e2;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
width: 300px;}

label{
    display: block;
}
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px;
    background-color: #ffffff;
   
}
ul{
    list-style: none;
    display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 30px;

  font-size: 14px;
}
ul li a{
    color: #8987A1;
    text-decoration: none;
}
footer img{
    width: 150px;
}


footer p {
    font-size: 14px;
    font-weight: normal;
    color: #8987A1;
    
    
}
.footer-section *{
    margin-bottom: 10px;
}